body{
    background-color: green;
}
#content{
	width: 888px;
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
}
#imageright{
	margin-left: 20px;
    width: 200px;
    float: right;
}

.kep1{
      width: 200px;
      border-radius: 30px 30px 0 0;
  
}
.kep2{
    width: 250px;
    border-radius: 30px 30px 0 0;

}
#imageleft{
	margin-right: 40px;
    margin-bottom: 80px;
    width: 250px;
    float: left;

}
 .kepszoveg{
	font-weight: bold;
    text-align: center;
    font-style: italic;
}

h1,h2{
    text-transform: uppercase;
    color: forestgreen;
}

p,ol,ul{
    text-align: justify;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: red;
}

figure{
    border: 2px solid green;
    border-radius: 30px;
}

.szoveg{
    text-indent: 50px;
}