*{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}

body{
   background-color: rgba(255, 193, 7, 1.0);
}
figcaption{
    font-weight: bold;
}
nav{
    width: 80%;
    margin: 0 auto;
}

.tartalom{
    width: 80%;
    background-color: #58506E;
    margin: 0 auto;
}

h1,h2{
    text-align: center;
}
h1:hover,h2:hover{
    color: rgba(255, 193, 7, 1.0);
}

.kep{
    width: 400px;
    border-radius: 20px 20px 0 0;
}

figure{
    border: 1px solid black;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
}

table{
    width: auto;
    margin: 10px auto;
    text-align: center;
    
}
table th,td,tr{
    border-bottom:1px solid white;
    padding: 10px;
}

#jobbkep{
    float: right;
}
#balkep{
    float: left;
}

footer{
    background-color: #1A1A1A;
    text-align: center;
    color: white;
    padding: 10px;
}

caption{
    caption-side: top;
    text-align: center;
    color: white;
}

p{
    text-align: justify;
    margin: 10px;
}

span a{
    text-decoration: none;
    color: rgba(255, 193, 7, 1.0) ;
    font-style: italic;
}
