*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.tartalom{
    background-color:rgb(42, 184, 209, 1);
    width: 80%;
    margin: 0 auto;
}

p{
    text-align: justify;
    margin: 20px;
}

.kep{
    width: 100%;
}

header{
    width: 80%;
    margin:  0 auto;
}

h1,h2{
    text-align: center;
    color: white;
}

.veszely{
    width: 350px;
    border-radius: 20px 20px 0 0;
}

figure{
    text-align: right;
    border-radius: 20px;
    border: 1px solid black;
}